<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <style>body {
        font-family: sans-serif;
    }</style>
    <link href="/static/common.css" rel="stylesheet">
    <style>
        .user {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        td {
            padding-bottom: 1vw;
            padding-left: 2%;
        }
    </style>
    <title>Unrolled Status {{ status_id }}</title>
</head>
<body>
{% with type = type, status_id = status_id  %}
    {% include "header.html" %}
{% endwith %}
<h1 class="center">Unrolled Status {{ status_id }}</h1>
<h2 class="center">{{ len(statuses) }} {% if len(statuses)==1 %}status{% else %}statuses{% endif %} by
    {% if len(get_unique_users(users))==1 %}{{ twitter_username(users[0].screen_name)|safe }}{% else %}
        {{ len(get_unique_users(users)) }} users{% endif %}
</h2>
<table style="border: 0;margin-left: 3%;margin-right: 3%;min-width: 94%">
    <colgroup>
        <col style="width: 20%">
        <col style="width: 80%">
    </colgroup>
    <thead>
    <tr style="display: none">
        <td></td>
        <td></td>
    </tr>
    </thead>
    {% for itemnumber, user, status in zip(count(start=1), users, statuses) %}
        <tr id="item-{{ itemnumber }}">
            <td class="user right" id="user-{{ itemnumber }}">
                {% if user != None %}
                    <a href="https://www.twitter.com/{{ user.screen_name }}" target="_blank" class="center">
                        <img src="{{ user.profile_image_url_https }}"
                             alt="Background profile picture for @{{ user.screen_name }}">
                    </a>
                    <br/>
                    {{ twitter_username(user.screen_name)|safe }}
                {% endif %}
            </td>
            <td class="status" id="status-{{ itemnumber }}">
                {{ generate_status_text(status)|safe }}
            </td>
        </tr>
    {% endfor %}
</table>
{% include "footer.html" %}
</body>
</html>
